span
    a(href='/login/') login
span  |
span
    a(href='/registration/') registration
p
a(href='/post/create/') create post

hr
h2 Category
each cat in category
    p
        span
            a(href='/category/' + cat.name) #{cat.name}
h2 Articles
each val, index in post
    p
        span #{val.image}
        span  |
        span
            a(href='/post/' + val.url) #{val.title}
        span  |
        span #{val.created_at}
        span  |
        span #{val.author}
        span  |
        span #{val.category}
        span  |
        span
            a(href='/post/update/' + val.id) update